<%= form_tag ring_sessions_path do %>

<div class="field">
	<%= hidden_field_tag :latitude %>
	<%= hidden_field_tag :longitude %>
</div>
<br />
<div class="actions">
	<%= submit_tag 'Ring Check' %>
</div>

<% end %>